h1{
    border-color:rgb(0, 0, 0);
    border-style:solid;
}

h2{
    border-color: blue;
    border-style:solid;
    padding-left: 100px;
    padding-top: 50px;
    margin-bottom: 100px;
}